<div style="padding: 15px;">
    <div class="layui-form-item">
        <div class="layui-input-block" style="width:200px;float:left;padding: 0px;margin:0px;">
            <input type="text" id="brand_name" placeholder="请输入品牌名称的关键字" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-input-block" style="float:left;padding: 0px;margin:0px 0px 0px 20px;">
            <button class="layui-btn" lay-submit  id="sear">搜索</button>
            <button class="layui-btn" lay-submit><a style="color:#fff;" href="{:url('Brand/brandList')}">品牌列表</a></button>
        </div>
    </div>
    <table class="layui-hide" id="test" lay-filter="test"></table>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    $(function(){
        layui.use(['table','layer'],function(){
            var table = layui.table;
            var layer = layui.layer;
            // 表格展示
            table.render({
                  elem: '#test',  // 绑定容器
                  url: "{:url('Brand/brandInfo')}",
                  limit: 5,  //每页显示条数
                  limits:[2,3,5,10,20], //每页条数可选项
                  page: true, //开启分页
                  cols: [[ //表头
                    {field: 'brand_id', title: 'ID',align:'center'},
                    {field: 'brand_name', title: '品牌名称',align:'center', edit: 'text'},
                    {field: 'brand_url', title: '品牌网址', align:'center',edit: 'text'},
                    {field: 'brand_logo', title: 'LoGo',align:'center',templet: function(d){
                        return "<img src='__STATIC__/../uploads/brandlogo/"+d.brand_logo+"' width='50px' height='30px'>";
                    }
                        },
                    // {field: 'brand_desc', title: '描述',align:'center',edit: 'text'},
                    {field: 'brand_show', title: '是否展示',align:'center'},
                    {field: 'create_time', title: '添加时间',align:'center'},
                    {field: 'update_time', title: '修改时间',align:'center'},
                    {field: 'barDemo', title: '操作',toolbar: '#barDemo',align:'center'}
                      ]]
                  });

            // 搜索
            $('#sear').click(function(){
                if($('#brand_name').val() == ''){
                    layer.msg('搜索内容不能为空',{icon:5});
                    return false;
                }
                table.reload('test', {
                    where: { //设定异步数据接口的额外参数，任意设
                        brand_name:$('#brand_name').val()
                        //…
                    }
                    ,page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
            });
            
             //监听单元格编辑
            table.on('edit(test)', function(obj){
                var value = obj.value //得到修改后的值
                ,brand_id = obj.data.brand_id //得到所在行所有键值
                ,field = obj.field; //得到字段
                // console.log(value);
                // console.log(brand_id);
                // console.log(field);
                $.post(
                    "{:url('Brand/brandEdit')}",
                    {value:value,brand_id:brand_id,field:field},
                    function(res){
                        // console.log(res);
                        layer.msg(res.font,{icon:res.code,time:2000},function(){
                            table.reload('test');
                        });
                    },
                    'json'
                );
            });

            // 监听行工具事件
            table.on('tool(test)', function(obj){
                var data = obj.data;
                var _event = obj.event;
                // console.log(obj);
                if(_event === 'del'){
                    layer.confirm('确定删除吗?', function(index){
                        //do something
                        // console.log(index);
                        $.post(
                            "{:url('Brand/brandDel')}",
                            {brand_id:data.brand_id},
                            function(res){
                                // console.log(res);
                                layer.msg(res.font,{icon:res.code,time:2000},function(index){
                                    table.reload('test');
                                });
                            },
                            'json'
                        );
                        layer.close(index);
                    }); 
                }else if(_event === 'edit'){
                    location.href = "{:url('Brand/brandUpd')}?brand_id="+data.brand_id;
                }
                
            });
        });
    })
</script>
