<div style="padding:20px;">
    <table border="1">
        <tr>
            <td>分类id</td>
            <td>分类名称</td>
            <td>操作</td>
        </tr>
        {volist name='cateInfo' id="v"}
        <tr>
            <td>
                {:str_repeat('&nbsp;&nbsp;',substr_count($v['path'],'-')*2)}
                {$v.cate_id}
            </td>
            <td>
                {:str_repeat('&nbsp;&nbsp;',substr_count($v['path'],'-')*2)}
                {$v.cate_name}
            </td>
            <td><a href="javascript:;">删除</a></td>
        </tr>
        {/volist}
    </table>

    
</div>
